@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Kaushan+Script&family=Lobster&family=Major+Mono+Display&family=Ranchers&display=swap');

/* Fonts */
.courier
{
  font-family: 'Trebuchet MS', sans-serif;
}

.fade-out1 {
  animation: fadeOut 0.75s ease-out forwards;
  animation-delay: 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out2 {
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 1.25s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}
 @keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
  
 }

 .change-text {
  animation-name: fontChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes fontChange {
  0% {
    font-family: 'Major Mono Display', monospace;
  }
  20% {
    font-family: 'Kaushan Script', cursive;
  }
  40% {
    font-family: 'Lobster', cursive;
  }
  60% {
    font-family: 'Ranchers', cursive;
  }
  80% {
    font-family: 'Bitter', serif;
  }
  100% {
    font-family: 'Major Mono Display', monospace;
  }
}



.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(10%);
  }
  to { opacity: 1 }
}
.font {
  font-family: 'garamond', sans-serif;
}


.gg {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
.ff {
  box-shadow: inset 0 0 0 0 white;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}
.ff:hover {
  color: black;
  box-shadow: inset 100vw 0 0 0 white;;
}
html {
  scroll-behavior: smooth;
}
/* Projects */
.dcgg {
  cursor: pointer;
  position: relative;
  background: #121111;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

.dcgg:after,
.dcgg:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid violet;
  transition: all 1s;
}

.dcgg:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #6f4cf9;
  border-left: 5px solid #6f4cf9;
}

.dcgg:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #6f4cf9;
  border-right: 5px solid #6f4cf9;
}

.dcgg:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #6f4cf9;
}

.dcgg:hover:before,
.dcgg:hover:after {
  width: 100%;
  height: 100%;
}

.dark-purple {
  color: #6f4cf9;
}

/* About Me */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float1 {
  animation: float 6s ease-in-out infinite;
}
.float2 {
  animation: float 5s ease-in-out infinite;
}
.float3 {
  animation: float 4s ease-in-out infinite;
}
.float4 {
  animation: float 3s ease-in-out infinite;
}
.float5 {
  animation: float 2s ease-in-out infinite;
}
