@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Fira Mono');

/* Fonts */
.courier
{
  font-family: 'Fira Mono';
}

.fade-out1 {
  animation: fadeOut 0.75s ease-out forwards;
  animation-delay: 1s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out2 {
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 1.25s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}
 @keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
  
 }

 

 .change-text {
  animation-name: fontChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes fontChange {
  0% {
    font-family: 'Major Mono Display', monospace;
  }
  20% {
    font-family: 'Kaushan Script', cursive;
  }
  40% {
    font-family: 'Lobster', cursive;
  }
  60% {
    font-family: 'Ranchers', cursive;
  }
  80% {
    font-family: 'Bitter', serif;
  }
  100% {
    font-family: 'Major Mono Display', monospace;
  }
}



.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(10%);
  }
  to { opacity: 1 }
}

.font {
  font-family: 'garamond', sans-serif;
}

.down{
  animation: fadeInText 300ms 0ms forwards;
  animation-duration: 1s;
}
@keyframes fadeInText {
  from {
    transform: translateY(30px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}


.gg {
  animation: fadeInDown 1.5s ease-in-out;
}
.gg2 { animation: fadeInDown 2s ease-in-out }
.gg3 { animation: fadeInDown 2.5s ease-in-out }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
  }
}
.ff {
  box-shadow: inset 0 0 0 0 white;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}
.ff:hover {
  color: black;
  box-shadow: inset 100vw 0 0 0 white;;
}
html {
  scroll-behavior: smooth;
}



.social {
  color: rgba(167, 146, 129, 0.6);
  border: 1px solid rgba(167, 146, 129, 0.4);
  cursor: pointer;
  transition: ease 0.3s;
}

.social:hover {
  color: rgba(167, 146, 129, 1);
  border: 1px solid rgba(167, 146, 129, 1);
}

.social:hover > .social {
opacity: 0.5;
}

.social:hover > .social:hover {
opacity: 1;
}
/* Projects */
.dcgg {
  cursor: pointer;
  position: relative;
  background: #121111;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

.dcgg:after,
.dcgg:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid violet;
  transition: all 1s;
}

.dcgg:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #6f4cf9;
  border-left: 5px solid #6f4cf9;
}

.dcgg:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #6f4cf9;
  border-right: 5px solid #6f4cf9;
}

.dcgg:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #6f4cf9;
}

.dcgg:hover:before,
.dcgg:hover:after {
  width: 100%;
  height: 100%;
}

.dark-purple {
  color: #6f4cf9;
}

/* About Me */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float1 {
  animation: float 6s ease-in-out infinite;
}
.float2 {
  animation: float 5s ease-in-out infinite;
}
.float3 {
  animation: float 4s ease-in-out infinite;
}
.float4 {
  animation: float 3s ease-in-out infinite;
}
.float5 {
  animation: float 2s ease-in-out infinite;
}

.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  mask-size: 200%;
  animation: shine 2s infinite;
  
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #121111;
  color: #fff;
  border: 2px solid #adadaf;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    #adadaf,
    #adadaf 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #adadaf;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 5px 5px;
}

.btn--stripe:hover {
  background-color: #fff;
  color: #121111;
  border-color: #adadaf;
}

.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(
    45deg,
    #121111,
    #121111 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #adadaf;
  animation: stripe-slide 12s infinite linear forwards;
}

.btn--large {
  width: 50%;
}

.btn--radius {
  border-radius: 36px;
}
